.tablib_emptyTab {
	display: none;
}

.tablib_spacerTab, .tablib_selected, .tablib_unselected {
	border-width: 0px;
	border-bottom: 0px solid #d2ecf5;
}

.tablib_selected, .tablib_unselected {
	padding: 4px;
}

.tablib_content_container {
	padding: 3px;
	background-color: #fff;
	text-align: center;
}

.tablib_main_container {
	background-color: #a5bce9;
	padding: 5px;
}

.tablib_selected table td, .tablib_unselected table td {
	font-size: 11px;
	text-align: center;
	color: #a40;
}

.staredTab {
	overflow-y: auto;
	height: 500px;
}

.di-header {
	background-color:#E5ECF9;
	background-repeat:no-repeat;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:small;
	padding:2px 3px 4px;
	position:relative;
}
			
.di-sign-plus {
	background-image:url(sprites.gif);
	background-position:-28px -246px;
	height:9px;
	margin:3px 4px 0pt 2px;
	width:9px;
}

.di-sign-minus {
	background-image:url(sprites.gif);
	background-position:-28px -310px;
	height:9px;
	margin:3px 4px 0pt 2px;
	width:9px;
}

.gotoArrow {
	background-image:url(http://foruminspector.googlecode.com/svn/trunk/order_arrow_small.gif);
	position: relative;
	height: 14px;
	width: 22px;
	left:50px;
}
	
body {
	color:black;
	font-family:Helvetica,Arial,sans-serif;
	font-size:small;
}

.di-expanded {
	background-color:#C5D7EF;
}
			
.di-divider {
	background-color:#C5D7EF;
	font-size:2px;
	height:1px;
	line-height:0pt;
	overflow:hidden;
}
			
.listDisplayItem .solidbox {
	background:#E5ECF9;
	border:1px solid #C5D7EF;
	position:relative;
}
			
.expandedPart {
	background-color:#FFFFFF;
	clear:both;
	display:block;
}
			
.di-byline {
	color:#7E7E7E;
	font-size:x-small;
	text-align:left;
	position:relative;
	left: 20px;
}
			
a, a:link {
	color:#0000CC;
}
			
.noborder {
	border:0px solid gray;
}

