//a, a:link {
//	color:#0000CC;
//}

.tablib_emptyTab {
	display: none;
}

.tablib_spacerTab, .tablib_selected, .tablib_unselected {
	border-width: 0px;
	border-bottom: 0px solid #d2ecf5;
}

.tablib_selected, .tablib_unselected {
	padding: 1px;
}

.tablib_content_container {
	overflow-y: auto;
	max-height: 300px;
	padding: 0px;
	background-color: #fff;
}

.tablib_main_container {
	background-color: #C5D7EF;
	padding: 1px;
}

.tablib_selected table td, .tablib_unselected table td {
	font-size: 11px;
	text-align: center;
	color: #a40;
}

.special_tab_con{
	border-color:#000000;
	border-width:2px;
}

.blackColor {
	color: #000000;
}

.boardTitle {
	font-size:medium;
	font-weight:bold;
	background-color:#E5ECF9;
	display: relative;
	padding: 0px;
	width: 100%;
}

.titleSpan {
}

.helpSpan {
	position: relative;
}

.thinImgBorder {
	border-top: 1px solid #C5D7EF;
	border-left: 1px solid #C5D7EF;
	border-right: 1px solid #C5D7EF;
	border-bottom: 1px solid #C5D7EF;
}

.thinBorder {
	border-top: 1px solid #C5D7EF;
	border-left: 1px solid #C5D7EF;
	border-right: 1px solid #C5D7EF;
}

.di-select-ltr {
	position:absolute;
	left:93%;
}

.di-select-rtl {
	position:absolute;
	right:93%;
}

.di-header {
	background-color:#E5ECF9;
	background-repeat:no-repeat;
	cursor:pointer;
	font-family:Arial,sans-serif;
	font-size:small;
	padding:2px 3px 4px;
	position:relative;
}
			
.di-sign-plus {
	background-image:url(sprites.gif);
	background-position:-28px -246px;
	height:9px;
	margin:3px 4px 0pt 2px;
	width:9px;
}

.di-sign-minus {
	background-image:url(sprites.gif);
	background-position:-28px -310px;
	height:9px;
	margin:3px 4px 0pt 2px;
	width:9px;
}

.gotoArrow-ltr {
	background-image:url(order_arrow_small.gif);
	height: 12px;
	width: 19px;
}

.helpImage {
	background-image:url(help.gif);
	height: 15px;
	width: 27px;
	cursor: pointer;
}

.gotoArrow-rtl {
	background-image:url(order_arrow_small_rtl.gif);
	height: 12px;
	width: 19px;
}

.di-secondary-header {
	background-repeat:no-repeat;
	font-family:Arial,sans-serif;
	font-size:small;
	position:relative;
	background-color:white;
	padding:0px 0px 0px 5px;
}

.di-maintitle {
	font-size:small;
	margin:0pt;
	text-decoration:none;
}

body {
	color:black;
	font-family:Helvetica,Arial,sans-serif;
	font-size:small;
}

.di-expanded {
	background-color:#C5D7EF;
}
			
.di-divider {
	background-color:#C5D7EF;
	font-size:2px;
	height:1px;
	line-height:0pt;
	overflow:hidden;
}
			
.listDisplayItem .solidbox {
	background:#E5ECF9;
	border:1px solid #C5D7EF;
	position:relative;
}
			
.expandedPart {
	background-color:#FFFFFF;
	clear:both;
	display:block;
}
			
.di-byline {
	color:#7E7E7E;
	font-size:x-small;
	position:relative;
	width: 295px;
}

.outerImage {
	max-width: 270px;
}

.di-byline-secondary {
	color:#7E7E7E;
	font-size:x-small;
	width: 295px;
}

.boardInfo {
	margin: 4px;
}
			
.noborder {
	border:0px solid gray;
}

